@use 'src/styles/_vars';

.currencies {
  background-color: vars.$Light;
  overflow-y: auto;
  max-height: 200px;

  &--hidden {
    display: none;
  }

  &::-webkit-scrollbar {
    width: vars.$gutter/2;
  }

  &::-webkit-scrollbar-track {
    background-color: vars.$Light;
  }

  &::-webkit-scrollbar-thumb {
    background-color: vars.$Primary;
    outline: 1px solid black;
  }

  &__title {
    padding: vars.$gutter;
    padding-top: vars.$gutter;
    font-weight: 700;
  }

  &__item {
    padding: vars.$gutter;
    border-top: 1px solid vars.$Light;
    cursor: pointer;
    font-family: vars.$FontFamily;
    font-weight: 500;
    transition: background-color vars.$transition-slow;

    &--active {
      background-color: vars.$Primary;
      color: vars.$Light;
    }

    &:hover {
      background-color: vars.$Secondary;
      transition-duration: vars.$transition-fast;
    }
  }
}
