@use 'src/styles/_vars';

.currencies {
  background-color: vars.$Light;
  overflow-y: auto;
  max-height: 200px;

  &__title {
    font-family: vars.$FontFamily;
    font-weight: 700;
    padding: vars.$gutter;
  }

  &__item {
    padding: vars.$gutter;
    border-top: 1px solid vars.$Light;
    cursor: pointer;
    font-family: vars.$FontFamily;
    font-weight: 500;
    transition: background-color vars.$transition-slow;

    &:hover {
      background-color: vars.$Secondary;
      transition-duration: vars.$transition-fast;
    }
  }
}
