@use 'src/styles/vars';

.header {
    background-color: vars.$Primary;
    color: vars.$Light;
    text-align: center;
    padding: vars.$gutter * 3 0;

    &__title {
        font-size: 2em;
        font-family: vars.$FontFamily;
        font-weight: 700;
        margin-bottom: 0.6rem;
    }

    &__input {
        font-family: vars.$FontFamily;
        font-weight: 300;
        font-size: 1.3em;
        letter-spacing: 0.05rem;
    }
}